@font-face {
  font-family: 'Golos Text';
  src: url('/font/Golos-Text_Bold.woff');
  src: url('/font/Golos-Text_Bold.woff2') format('woff2'), url('/font/Golos-Text_Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos Text';
  src: url('/font/Golos-Text_Regular.woff');
  src: url('/font/Golos-Text_Regular.woff2') format('woff2'), url('/font/Golos-Text_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos UI';
  src: url('/font/Golos-UI_Regular.woff');
  src: url('/font/Golos-UI_Regular.woff2') format('woff2'), url('/font/Golos-UI_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Golos UI';
  src: url('/font/Golos-UI_Medium.woff');
  src: url('/font/Golos-UI_Medium.woff2') format('woff2'), url('/font/Golos-UI_Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
