@font-face {
  font-family: 'Golos Text';
  src: url('/font/Golos-Text_Bold.eot');
  src: url('/font/Golos-Text_Bold.eot?#iefix') format('embedded-opentype'),
    url('/font/Golos-Text_Bold.woff2') format('woff2'), url('/font/Golos-Text_Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Golos Text';
  src: url('/font/Golos-Text_Regular.eot');
  src: url('/font/Golos-Text_Regular.eot?#iefix') format('embedded-opentype'),
    url('/font/Golos-Text_Regular.woff2') format('woff2'), url('/font/Golos-Text_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Golos UI';
  src: url('/font/Golos-UI_Regular.eot');
  src: url('/font/Golos-UI_Regular.eot?#iefix') format('embedded-opentype'),
    url('/font/Golos-UI_Regular.woff2') format('woff2'), url('/font/Golos-UI_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Golos UI';
  src: url('/font/Golos-UI_Bold.eot');
  src: url('/font/Golos-UI_Bold.eot?#iefix') format('embedded-opentype'),
    url('/font/Golos-UI_Bold.woff2') format('woff2'), url('/font/Golos-UI_Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
