.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertCenter {
  composes: center;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  min-height: calc(100vh - 55px - 109px);
}

@media (max-width: 1500px) {
  .grid {
    min-height: calc(100vh - 109px);
  }
}

.sidebar {
  composes: border from './variable.css';
  border-bottom: none;
  border-top: none;
  height: auto;
  padding: 2rem;
}
.sidebar a {
  display: block;
  height: max-content;
  text-underline-offset: 4px;
  font-size: 14px;
}

.sidebar_left a {
  margin: 1.25rem 0;
}

@media (max-width: 1050px) {
  .grid {
    grid-template-columns: 0.5fr 2fr 0.5fr;
  }
}

.sidebar_right a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

.sidebar_right a img {
  max-width: 100px !important;
}

.main {
  padding: 3rem;
  padding-top: 0.75rem;
}

.main .feed a,
.sidebar a,
.main p,
.main strong {
  line-height: 1.75;
}

.floatImage {
  float: left;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 800px) {
  .main {
    grid-column: 1 / 4;
    padding: 2rem;
  }
  .grid {
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
  }
  .sidebar {
    padding: 2rem;
    border-left: none;
    min-width: unset;
    width: calc(100% - 4rem);
  }
  .sidebar_right {
    border-right: none;
  }
  .sidebar_left {
    border-right: 2px solid black;
  }
  .floatImage {
    float: unset;
  }
}

@media (max-width: 350px) {
  .main {
    padding: 0;
  }
}

.main h1 {
  font-size: calc(2vw + 2em);
}
.main table {
  font-size: calc(0.6em + 0.3vw);
}

.main h1 {
  text-align: center;
}
