.grid {
  display: grid;
  width: 100%;
  grid-auto-flow: row;
  grid-template-columns: 0.2fr 3fr 0.2fr;
  min-height: calc(100vh - 74px - 113px);
}

.sidebar {
  composes: border from './variable.css';
  border-bottom: none;
  border-top: none;
  justify-self: left;
  width: 8rem;
  height: auto;
  padding: 1em;
}

.sidebar a {
  margin: 1rem 0;
  display: block;
  height: max-content;
}

.sidebar_right {
  justify-self: right;
  right: 0;
}

.main {
  padding: 3rem;
}

.main p,
.main strong,
.main a {
  line-height: 1.75;
}

.feed {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  padding: 2rem;
}

@media (max-width: 800px) {
  .main {
    grid-column: 1 / 4;
  }
  .grid {
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
  }
  .sidebar {
    width: unset;
  }
}

@media (max-width: 500px) {
  .feed {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.main h1 {
  font-size: calc(2vw + 2em);
}
.main table {
  font-size: calc(0.6em + 0.3vw);
}

.main h1,
.main h2,
.main h3 {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.floatImage {
  float: left;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
