.nav {
  padding: 1rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  z-index: 999;
  background-color: #ffffff;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.nav * {
  font-family: 'Inter', sans-serif;
}

.nav ul {
  background-color: white;
  padding: 1rem;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav li a {
  font-size: 0.85rem;
  line-height: 2;
}
.nav button,
.nav > a,
.nav .nav_item > a {
  font-size: 0.9rem;
  font-weight: 500;
  color: black;
  padding: 0;
  margin: 0 10px;
}

.nav button:hover,
.nav a:hover {
  text-decoration: underline;
}

.ham_btn {
  border: 1px solid black;
  background: white;
  box-shadow: none;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  display: none;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.1);
  z-index: 999999;
}

@media (max-width: 1500px) {
  .ham_btn {
    display: block;
  }
  .nav button,
  .nav > a,
  .nav .nav_item > a {
    font-size: 1.25rem;
    line-height: 2;
  }
  .nav,
  .nav_container {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }

  .nav {
    position: fixed;
    left: 3rem;
  }
}
