.nav {
  width: 80vw;
  display: inherit;
  justify-content: stretch;
  align-items: inherit;
  z-index: 10;
}

.nav * {
  font-family: 'Inter', sans-serif;
}

.nav ul {
  background-color: white;
  padding: 1rem;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.1);
  min-width: 250px;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav li a {
  font-size: 0.85rem;
}

.nav_list_item,
.nav_list_item * {
  line-height: 1.25;
}

.nav_list_item {
  margin-bottom: 1rem;
}

.nav button,
.nav > a,
.nav .nav_item > a {
  font-size: 0.9rem;
  font-weight: 500;
  color: black;
  padding: 0;
  margin: 0 10px;
  font-family: 'Golos Text' !important;
}

.nav button:hover,
.nav a:hover {
  text-decoration: underline;
}

.nav_container {
  width: 100%;
  justify-content: space-between;
}

.nav_root_container {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: #ffffff;
  justify-content: center;
  padding: 0.5rem 1rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav {
  position: static;
  top: unset;
  left: unset;
}

.ham_btn {
  border: 1px solid black;
  background: white;
  box-shadow: none;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  font-weight: bold;
  position: fixed;
  display: none;
  box-shadow: var(--shadow);
  z-index: 10;
}

@media (max-width: 1250px) {
  .ham_btn {
    display: block;
  }
  .nav button,
  .nav > a,
  .nav .nav_item > a {
    font-size: 1.25rem;
    line-height: 2;
  }
  .nav,
  .nav_container {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }

  .nav {
    position: fixed;
    left: 3rem;
    width: auto;
    background: white;
    border: 1px solid black;
    top: 0;
  }
  .nav_root_container {
    padding: 0;
    display: block;
    border: none;
  }
}
