.nav_bar {
  composes: border from './variable.css';
  height: auto;
  position: sticky;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0.7em;
  background-color: #ffffff;
}

.nav_bar_hidden {
  composes: nav_bar;
  height: unset;
  text-align: left;
}

.nav_bar_hidden a.link {
  display: none;
}
.nav_bar button {
  border: none;
  padding: 0.3rem;
  margin-right: 1rem;
  background-color: transparent;
  font-size: 1.5rem;
}

.nav_bar button:hover {
  cursor: pointer;
}

.link {
  color: black;
  line-height: 1.5;
  margin: 0.6rem;
}

.nav_bar_hidden a:not(.link) {
  text-decoration: none;
  color: black;
}

.nav_bar_hidden a:not(.link):hover {
  text-decoration: underline;
}
