.post {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.post article {
  text-align: justify;
}

.imageSet {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.post img {
  width: 100%;
  margin-bottom: 1em;
}

.post h2 {
  font-size: 1.3rem;
  text-align: center;
}
