.post {
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s;
  background-color: white;
  padding: 2.5rem;
  border-radius: 15px;
  height: max-content;
  margin: 0 0 4rem;
}

.postContent {
  composes: table from './table.module.css';
}

.post article {
  text-align: justify;
}

.imageSet {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.post img {
  width: 100%;
  margin-bottom: 1em;
}

.post h2 {
  font-size: 1.3rem;
  text-align: center;
}
