.slider_container {
  position: relative;
  user-select: none;
  height: var(--height);
}

.slider_container h1 {
  font-size: 9vw;
  margin-bottom: 0.2em;
  font-weight: bold;
  letter-spacing: -3px;
}

.slider_container span {
  font-weight: 500;
  font-size: calc(0.75rem + 1.5vw);
}

.image_first {
  background-image: url('/1.jpg');
  background-position-y: center;
}

.image_second {
  background-image: url('/2_auto_x2.jpg');

  background-position-y: center;
}

.image_third {
  background-image: url('/3.jpg');
  background-position-y: top;
}

.slides {
  height: var(--height);
  overflow: hidden;
}

.image {
  background-size: cover;
  height: var(--height);
  width: 100%;
  background-blend-mode: darken;

  background-color: rgba(60, 63, 73, 0.6);
}

.overlay_container {
  height: var(--height);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.box {
  display: flex;
  align-items: flex-start;
  color: #d3eeee;
  flex-direction: column;
  justify-content: center;
}

.learnMoreLink {
  color: #d3eeee;
  text-align: right;
  align-self: flex-end;
  margin-top: 2em;
  font-weight: 500;
  font-size: calc(1rem + 1vw);
}

.learnMoreLink:hover {
  color: gray;
}

@media (max-width: 800px) {
  .overlay_container {
    padding: 2rem;
    width: unset;
  }

  .learnMoreLink {
    right: 50px;
    bottom: 50px;
  }
}
