.slider_container {
  position: relative;
  height: var(--height);
}

.slider_container h1 {
  font-size: calc(1rem + 8.5vw);
  margin-bottom: 0.2em;
  margin-top: 0;
  font-weight: bold;
  letter-spacing: -5px;
  margin-left: -6px;
}

.slider_container span {
  font-weight: 500;
  font-size: calc(0.75rem + 0.25vw);
}

.slides {
  height: var(--height);
  overflow: hidden;
}

.image img {
  height: var(--height);
  filter: brightness(70%);
  object-fit: cover !important;
}

.overlay_container {
  height: var(--height);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.box {
  display: flex;
  align-items: flex-start;
  color: #ffffff;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 800px) {
  .overlay_container {
    padding: 2rem;
    width: unset;
  }

  .slider_container h1 {
    letter-spacing: unset;
  }
}

.slider_btn {
  border: none;
  background: none;
  color: white;
  font-weight: bold;
  font-family: 'Golos UI', sans-serif !important;
  font-weight: bold;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
