.slide_container {
  position: relative;
  user-select: none;
}

.slide_container h1 {
  font-size: calc(100vw / 12.5);
  margin-bottom: 0.2em;
  font-weight: bold;
  letter-spacing: -0.05em;
}

.slide_container span {
  font-weight: 500;
}

.image_first {
  background-image: url('/6.jpg');
  background-position-y: center;
}

.image_second {
  background-image: url('/5.jpg');

  background-position-y: center;
}

.image_third {
  background-image: url('/4.jpg');
  background-position-y: top;
}

.slides {
  height: 100vh;
  overflow: hidden;
}

.image {
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-blend-mode: darken;
  background-color: rgba(3, 8, 22, 0.6);
}

.box {
  position: absolute;
  top: calc(100% / 5);
  left: calc(100vw / 30);
  display: flex;
  align-items: baseline;
  color: #d3eeee;
  flex-direction: column;
  justify-content: center;
}
